@model SmartMovieApp.DTOs.LoginDto


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<style>
    body {
        margin: 0;
        padding: 0;
        background: url('/images/loginbg.jpg') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .login-container {
        max-width: 700px;
        margin: 5rem auto;
        padding: 2.5rem;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        color: white;
    }

    .form-control {
        background-color: #1f2937;
        color: white;
        border: 1px solid #3b3b3b;
    }

        .form-control::placeholder {
            color: #aaa;
        }

        .form-control:focus {
            background-color: #1f2937;
            color: white;
            border-color: #58a6ff;
            box-shadow: none;
        }

    label {
        margin-top: 1rem;
    }

    .btn-register {
        margin-top: 2rem;
        background-color: #238636;
        color: white;
        border: none;
    }

        .btn-register:hover {
            opacity: 0.9;
        }
</style>

<div class="login-container">

    <h2>Giriş Yap</h2>
<form asp-action="Login" method="post">
    <div class="form-group">
        <label>Kullanıcı Adı veya Email</label>
        <input asp-for="UsernameOrEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label>Şifre</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Giriş Yap</button>

</form>
</div>