@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background: url('/images/indexbg.jpg') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .welcome-container {
        max-width: 1000px;
        margin: 5rem auto;
        padding: 3rem;
        background-color: rgba(0, 0, 0, 0.6); /* saydam siyah arka plan */
        backdrop-filter: blur(6px);
        border-radius: 20px; /* köşe yumuşatma */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* hafif gölge efekti */
        text-align: center;
    }


    .welcome-title {
        font-size: 3.5rem;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .welcome-subtext {
        font-size: 1.25rem;
        color: #c9d1d9;
        margin-bottom: 40px;
    }

    .btn-custom-register {
        background-color: #238636;
        color: white;
        border: none;
    }

    .btn-custom-login {
        background-color: whitesmoke;
        border: 2px solid #58a6ff;
        color: #58a6ff;
    }

        .btn-custom-primary:hover,
        .btn-custom-secondary:hover {
            opacity: 0.9;
        }
</style>

<div class="welcome-container">
    <h1 class="welcome-title">SmartMovieApp: Binlerce Film, Milyonlarca Yorum Tek Bir Yerde.</h1>
    <p class="welcome-subtext">
        Binlerce film hakkında yorumları okuyabilir, kendi favori listenizi oluşturabilirsiniz.
    </p>

    <div>
        <a class="btn btn-custom-register btn-lg me-3" href="/Account/Register">Kayıt Ol</a>
        <a class="btn btn-custom-login btn-lg" href="/Account/Login">Giriş Yap</a>
    </div>
</div>
